<h1>Editar reseña</h1>

<%= form_with(model: @resena, method: :patch, url: resenas_update_path(:id => @resena.id)) do |form| %>

    <%= form.hidden_field :turno_id, value: @resena.turno.id%>
    <%= form.hidden_field :user_id, value: current_user.id%>

    <div>
        <%= form.label :Contenido %>
        <%= form.text_field :contenido%>
    </div>
    <div>
        <%= form.label :Calificación %>
        <%= form.text_field :calificacion%>
    </div>
    <div>
        <%= form.submit 'Editar' %>
        <%= print("Se apreto el boton") %>
    </div>

<%= link_to 'Volver', turnos_show_path(:id => @resena.turno.id) %>
<% end %>