<h1>Editar reseña</h1>

<%= form_with(model: @resena, method: :patch, url: resenas_update_path(:id => @resena.id)) do |form| %>

    <%= form.hidden_field :turno_id, value: @resena.turno.id%>
    <%= form.hidden_field :user_id, value: current_user.id%>

    <div>
        <%= form.label :Contenido %>
        <%= form.text_field :contenido%>
    </div>
    <% def options_for_status
      [
      ['0','0'],
      ['1','1'],
      ['2','2'],
      ['3','3'],
      ['4','4'],
      ['5','5']
      ]
    end %>
    <div>
      <label class="label">Calificación</label>
      <%= form.select :calificacion, options_for_status, {}, prompt: 'Select One' %>
    </div>
    <div>
        <%= form.submit 'Editar' %>
    </div>

<%= link_to 'Volver', turnos_show_path(:id => @resena.turno.id) %>
<% end %>