<h1>Nueva reseña</h1>

<%= form_with(model: @resena, method: :post) do |form| %>

    <div>
        <%= form.label :Contenido %>
        <%= form.text_field :contenido%>
    </div>
    <div>
        <%= form.label :Calificación %>
        <%= form.text_field :calificacion%>
    </div>
    <%= form.hidden_field :id_viaje, value: @id_viaje%>
    <%= form.hidden_field :turnos, value: current_user.name%>
    <%= form.hidden_field :users, value: '---------'%>
    <div>
        <%= form.submit 'Subir reseña' %>
    </div>

<%= link_to 'Volver', resenas_index_path(@id_viaje) %>
<% end %>

