<h1>Nueva reseña</h1>

<%= form_with(model: @resena, method: :post) do |form| %>

    <%= form.hidden_field :turno_id, value: @id_viaje%>
    <%= form.hidden_field :user_id, value: current_user.id%>

    <div>
        <%= form.label :Contenido %>
        <%= form.text_field :contenido%>
    </div>
    <div>
        <%= form.label :Calificación %>
        <%= form.text_field :calificacion%>
    </div>
    <div>
        <%= form.submit 'Subir reseña' %>
    </div>

<%= link_to 'Volver', resenas_index_path(@id_viaje) %>
<% end %>

