<h1>Requests#edit</h1>

<%= form_with(model: @request, method: :patch, url: requests_update_path(:id => @request.id)) do |form| %>

    <div>
        <%= form.label :Id_solicitud %>
        <%= form.text_field :id_solicitud%>
    </div>
    <div>
        <%= form.label :Id_usuario %>
        <%= form.text_field :id_usuario%>
    </div>
    <div>
        <%= form.label :Id_publicacion %>
        <%= form.text_field :id_publicacion%>
    </div>
    <div>
        <%= form.label :Estado %>
        <%= form.text_field :estado%>
    </div>
    <div>
        <%= form.label :Descripcion %>
        <%= form.text_field :descripcion%>
    </div>
    <div>
        <%= form.submit 'Editar request' %>
    </div>

<% end %>
