<div align='center'>
<h1 class="title is-3 has-text-primary">Nueva Solicitud</h1>
<%= form_for @request, as: :request do |form| %>

     <%= form.hidden_field :turno_id, value: @turno_id %>
    <div>
        <label class="label">Descripcion</label>
        <%= form.text_field :descripcion%>
    </div>
    <div>
        <%= form.submit 'Enviar solicitud' %>
    </div>

<%= link_to 'Volver', turnos_show_path(:id => @turno_id), class: "button is-primary is-inverted is-rounded is-outlined" %>
</div>
<% end %>