<h1>Nueva solicitud</h1>

<%= form_for @request do |form| %>

    <div>
        <%= form.label :Descripción %>
        <%= form.text_field :descripcion%>
    </div>
    <div>
        <%= form.submit 'Enviar solicitud' %>
    </div>

<%= link_to 'Volver', turnos_show_path(:id => @turno.id) %>
<% end %>