<div align='center'>
    <h1 class="title is-3 has-text-primary">Solicitud</h1>

    <p>
        <strong>Número Turno: </strong>
        <%= @request.turno.id %>
    </p>
    <p>
        <strong>Nombre conductor: </strong>
        <%= User.find(@request.turno.user_id).name %>
    </p>
    <p>
        <strong>Nombre Solicitante </strong>
        <%= User.find(@request.user_id).name %>
    </p>
    <p>
        <strong>Estado: </strong>
        <%= @request.estado %>
    </p>
    <p>
        <strong>Descripción: </strong>
        <%= @request.descripcion %>
    </p>

    <br/> 
    <% if @request.user_id == current_user.id%>
        <%= link_to 'Volver', requests_index_path(:tipo => 2, :tipo_lista => 0), class: "button is-primary is-inverted is-rounded is-outlined" %>
        <br/>
        <br/>
        <%= link_to 'Editar', requests_edit_path(:id => @request.id), class: "button is-primary is-inverted is-rounded is-outlined"%>
        <br/>
        <br/>
        <%= link_to 'Eliminar', requests_delete_path(:id => @request.id), class: "button is-primary is-inverted is-rounded is-outlined", method: :delete%>
        <br/>
        <br/>
    <% else %>
        <%= link_to 'Volver', requests_index_path(:tipo => 1, :tipo_lista => 0), class: "button is-primary is-inverted is-rounded is-outlined" %>
        <br/>
        <br/>
        <%= link_to 'Editar', requests_edit_path(:id => @request.id), class: "button is-primary is-inverted is-rounded is-outlined"%>
        <br/>
        <br/>
    <% end %>
</div>