<h1 class="title is-3 has-text-primary">Solicitud</h1>

<p>
    <strong>Id Solicitud: </strong>
    <%= @request.id %>
</p>
<p>
    <strong>Id Usuario Turno: </strong>
    <%= @request.turno.user_id %>
</p>
<p>
    <strong>Id Usuario Solicitud: </strong>
    <%= @request.user_id %>
</p>
<p>
    <strong>Id Publicación: </strong>
    <%= @request.turno.id %>
</p>
<p>
    <strong>Estado: </strong>
    <%= @request.estado %>
</p>
<p>
    <strong>Descripción: </strong>
    <%= @request.descripcion %>
</p>


<%= link_to 'Volver', users_show_path(:id => current_user.id, class: "button is-primary is-inverted is-rounded is-outlined")%>
<%= link_to 'Editar', requests_edit_path(:id => @request.id, class: "button is-primary is-inverted is-rounded is-outlined")%>
<%= link_to 'Eliminar', requests_delete_path(:id => @request.id, class: "button is-primary is-inverted is-rounded is-outlined"), method: :delete%>