<h1>Solicitud</h1>

<p>
    <strong>Id Solicitud: </strong>
    <%= @request.id %>
</p>
<p>
    <strong>Id Usuario Turno: </strong>
    <%= @request.turno.user_id %>
</p>
<p>
    <strong>Id Usuario Solicitud: </strong>
    <%= @request.user_id %>
</p>
<p>
    <strong>Id Publicación: </strong>
    <%= @request.turno.id %>
</p>
<p>
    <strong>Estado: </strong>
    <%= @request.estado %>
</p>
<p>
    <strong>Descripción: </strong>
    <%= @request.descripcion %>
</p>


<%= link_to 'Volver', users_show_path(:id => current_user.id)%>
<%= link_to 'Editar', requests_edit_path(:id => @request.id)%>
<%= link_to 'Eliminar', requests_delete_path(:id => @request.id), method: :delete%>