<h1 align='center' class = "title is-2 has-text-primary" >Editar Turno</h1>

<div  align='center'>
<%= form_with(model: @turno, method: :patch, url: turnos_update_path(:id => @turno.id)) do |form| %>

    <div>
        <label class="label">Cantidad asientos</label>
        <%= form.text_field :cantidad_asientos%>
    </div>
    <div>
        <label class="label">Hora de salida</label>
        <%= form.text_field :hora_salida%>
    </div>
    <div>
        <label class="label">Direccion de salida</label>
        <%= form.text_field :direccion_salida%>
    </div>
    <div>
        <label class="label">Direccion de llegada</label>
        <%= form.text_field :direccion_llegada%>
    </div>
    <div>
        <label class="label">Dia de la semana</label>
        <%= form.text_field :dia_semana%>
    </div>
    <div>
        <label class="label">Tipo</label>
        <%= form.text_field :tipo%>
    </div>
    <%if @turno.user_id == current_user.id%>
        <% def options_for_status
            [
            ['Turno completado','COMPLETADO'],
            ['Turno confirmado','CONFIRMADO'],
            ['Turno pendiente','ACTIVO'],
            ]
        end %>
        <div>
            <label class="label">Respuesta solicitud</label>
            <%= form.select :estado, options_for_status, {}, prompt: 'Select One' %>
        </div>
    <% end %>
    <div>
        <%= form.submit 'Editar turno' %>
    </div>
    

<% end %>
</div>

<a align='center'>
<%= button_to "Volver", turnos_index_path,:id => "boton_volver", :class => "button is-primary is-rounded is-outlined", method: :get%>
</a>