<h1 align='center' class = "title is-2 has-text-primary" >Turnos</h1>
<h1 align='center' class = "title is-4 has-text-black" >Aquí se encuentra toda la información de turnos ajenos</h1>

<div align='center'>    
    <a>
    <%= button_to "Nuevo turno", turnos_new_path,:id => "boton_turnos", :class => "button is-primary is-rounded is-outlined is-right", :method => :get %>
    </a>
</div>

<br>

<div class="row">

    <div class="column">
        <div align='left' style="display: flex; flex-flow: wrap; ">
            <h3 class = "title is-4 has-text-dark" >Turnos Activos</h3>
        </div>
        <br/>
        <div align='center' style="display: flex; flex-flow: wrap;">
            <% @no_vacio = false %>
            <div class="row">
                <% @turnos.each do |turno|%>
                    <%if turno.user_id != current_user.id and turno.estado == "ACTIVO"%>
                        <div class="column-turno">
                            <% @no_vacio = true %>
                            <b>Conductor </b><p><%= @users.find(turno.user_id).name%></p>
                            <b>Hora salida </b><p><%= turno.hora_salida%></p>
                            <b>Día de la semana </b><p><%= turno.dia_semana%></p>
                            <b>Dirección salida </b><p><%= turno.direccion_salida%></p>
                            <b>Dirección llegada </b><p><%= turno.direccion_llegada%></p>
                            <b></b><p><%= link_to 'Ver detalles', turnos_show_path(:id => turno.id) %></p>
                        </div>
                    <% end %>
                <% end %>
                <% if not @no_vacio %>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                <% end %>
            </div>
        </div>
    </div>

    <div class="column">
        <br/>
        <br/>
        <div align='center' style="display: flex; flex-flow: wrap; ">
            <h3 class = "title is-4 has-text-dark" >Turnos Solicitados Confirmados</h3>
        </div>
        <br/>
        <div align='center' style="display: flex; flex-flow: wrap; ">
            <% @no_vacio = false %>
            <div class="row">
                <% @requests.each do |request|%>
                    <%if request.user_id == current_user.id %>
                        <% @turno = Turno.find(request.turno.id)%> 
                        <%if @turno.estado == "CONFIRMADO"%>
                            <div class="column-turno">
                                <% @no_vacio = true %>
                                <% @user = User.find(@turno.user_id)%>
                                <b>Conductor </b><p><%= @users.find(turno.user_id).name%></p>
                                <b>Hora salida </b><p><%= turno.hora_salida%></p>
                                <b>Día de la semana </b><p><%= turno.dia_semana%></p>
                                <b>Dirección salida </b><p><%= turno.direccion_salida%></p>
                                <b>Dirección llegada </b><p><%= turno.direccion_llegada%></p>
                                <b></b><p><%= link_to 'Ver detalles', turnos_show_path(:id => turno.id) %></p>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
                <% if not @no_vacio %>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                <% end %>
            </div>
        </div>
    </div>

    <div class="column">
        <br/>
        <br/>
        <div align='center' style="display: flex; flex-flow: wrap; ">
            <h3 class = "title is-4 has-text-dark" >Turnos Solicitados Completados</h3>
        </div>
        <br/>
        <div align='center' style="display: flex; flex-flow: wrap; ">
            <% @no_vacio = false %>
            <div class="row">
                <% @requests.each do |request|%>
                    <%if request.user_id == current_user.id %>
                        <% @turno = Turno.find(request.turno.id)%> 
                        <%if @turno.estado == "COMPLETADO"%>
                            <% @no_vacio = true %>
                            <div class="column-turno">
                                <b>Conductor </b><p><%= @users.find(@turno.user_id).name%></p>
                                <b>Hora salida </b><p><%= @turno.hora_salida%></p>
                                <b>Día de la semana </b><p><%= @turno.dia_semana%></p>
                                <b>Dirección salida </b><p><%= @turno.direccion_salida%></p>
                                <b>Dirección llegada </b><p><%= @turno.direccion_llegada%></p>
                                <b></b><p><%= link_to 'Ver detalles', turnos_show_path(:id => @turno.id) %></p>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
                <% if not @no_vacio %>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                <% end %>
            </div>
        </div>
    </div>
</div>
<br/>