<h1 align='center' class = "title is-2 has-text-primary" >Turnos</h1>

<a>
<%= button_to "Nuevo turno", turnos_new_path,:id => "boton_turnos", :class => "button is-primary is-rounded is-outlined is-right", :method => :get %>
</a>

<br>

<h3 class = "title is-4 has-text-dark" >Turnos Activos</h3>
<div align='center' style="display: flex; flex-flow: wrap;">
    <% @turnos.each do |turno|%>
        <%if turno.user_id != current_user.id and turno.estado == "ACTIVO"%>
            <div style="border: solid 1px; width: 200px; 
            padding: 10px; align-text: center; margin: 5px; background-color: lightblue;">
            <b>Conductor </b><p><%= @users.find(turno.user_id).name%></p>
            <b>Hora salida </b><p><%= turno.hora_salida%></p>
            <b>Día de la semana </b><p><%= turno.dia_semana%></p>
            <b>Dirección salida </b><p><%= turno.direccion_salida%></p>
            <b>Dirección llegada </b><p><%= turno.direccion_llegada%></p>
            <b></b><p><%= link_to 'Ver detalles', turnos_show_path(:id => turno.id) %></p>
        <% end %>
</div>
<% end %>

<h3 class = "title is-4 has-text-dark" >Turnos Solicitados Confirmados</h3>
<div align='center' style="display: flex; flex-flow: wrap; ">
    <% @requests.each do |request|%>
        <%if request.user_id == current_user.id %>
            <% @turno = Turno.find(request.turno.id)%> 
            <%if @turno.estado == "CONFIRMADO"%>
                <div style="border: solid 1px; width: 200px; 
                padding: 10px; align-text: center; margin: 5px; background-color: lightblue">
                <% @user = User.find(@turno.user_id)%>
                <b>Conductor </b><p><%= @users.find(turno.user_id).name%></p>
                <b>Hora salida </b><p><%= turno.hora_salida%></p>
                <b>Día de la semana </b><p><%= turno.dia_semana%></p>
                <b>Dirección salida </b><p><%= turno.direccion_salida%></p>
                <b>Dirección llegada </b><p><%= turno.direccion_llegada%></p>
                <b></b><p><%= link_to 'Ver detalles', turnos_show_path(:id => turno.id) %></p>
            <% end %>
        <% end %>
</div>
<% end %>
<br/>

<h3 class = "title is-4 has-text-dark" >Turnos Solicitados Completados</h3>
<div align='center' style="display: flex; flex-flow: wrap; ">
    <% @requests.each do |request|%>
        <%if request.user_id == current_user.id %>
            <% @turno = Turno.find(request.turno.id)%> 
            <%if @turno.estado == "COMPLETADO"%>
                <div style="border: solid 1px; width: 200px; 
                padding: 10px; align-text: center; margin: 5px; background-color: lightblue">
                <b>Conductor </b><p><%= @users.find(turno.user_id).name%></p>
                <b>Hora salida </b><p><%= turno.hora_salida%></p>
                <b>Día de la semana </b><p><%= turno.dia_semana%></p>
                <b>Dirección salida </b><p><%= turno.direccion_salida%></p>
                <b>Dirección llegada </b><p><%= turno.direccion_llegada%></p>
                <b></b><p><%= link_to 'Ver detalles', turnos_show_path(:id => turno.id) %></p>
            <% end %>
        <% end %>
</div>
<% end %>
<br/>