<h1>Publicaciones_Turnos</h1>

<%= notice %>

<div style="display: flex, flex-flow: row wrap; ">
    <% @turnos.each do |turno|%>
        <div style="border: solid 1px; width: 200px; padding: 10px; align-text: center; margin: 5px;">
        <h3><%= turno.id%></h3>
        <p><%= turno.cantidad_asientos%><p>
        <p><%= turno.hora_salida%><p>
        <p><%= turno.direccion_salida%><p>
        <p><%= turno.direccion_llegada%><p>
        <p><%= turno.dia_semana%><p>
        <p><%= turno.tipo%><p>
        <p><%= link_to 'Ver detalles', turnos_show_path(:id => turno.id) %></p>
</div>
<% end %>

<%= link_to 'Nuevo turno', turnos_new_path %>
