<h1 align='center' class = "title is-2 has-text-primary" >Crear Turno</h1>

<div  align='center'>
<%= form_for @turno, as: :turno do |form| %>

    <div>
        <label class="label">Cantidad asientos</label>
        <%= form.text_field :cantidad_asientos%>
    </div>
    <div>
        <label class="label">Hora de salida</label>
        <%= form.time_select :hora_salida%>
    </div>
    <div>
        <label class="label">Dirección de salida</label>
        <%= form.text_field :direccion_salida%>
    </div>
    <div>
        <label class="label">Dirección de llegada</label>
        <%= form.text_field :direccion_llegada%>
    </div>
    <div>
        <label class="label">Dia de la semana</label>
        <%= form.text_field :dia_semana%>
    </div>
    <div>
        <label class="label">Tipo</label>
        <%= form.text_field :tipo%>
    </div>
    <div>
        <%= form.submit 'Crear turno' %>
    </div>

<% end %>
</div>

<a align='center'>
<%= button_to "Volver", turnos_index_path,:id => "boton_volver", :class => "button is-primary is-inverted is-rounded is-outlined", method: :get%>
</a>