<h1>Crear Turno</h1>

<%= form_for @turno, as: :turno do |form| %>

    <div>
        <%= form.label :Cantidad_asientos %>
        <%= form.text_field :cantidad_asientos%>
    </div>
    <div>
        <%= form.label :Hora_salida %>
        <%= form.time_select :hora_salida%>
    </div>
    <div>
        <%= form.label :Direccion_salida %>
        <%= form.text_field :direccion_salida%>
    </div>
    <div>
        <%= form.label :Direccion_llegada %>
        <%= form.text_field :direccion_llegada%>
    </div>
    <div>
        <%= form.label :Dia_semana %>
        <%= form.text_field :dia_semana%>
    </div>
    <div>
        <%= form.label :Tipo %>
        <%= form.text_field :tipo%>
    </div>
    <div>
        <%= form.submit 'Crear turno' %>
    </div>

<% end %>

<%= link_to 'Volver', turnos_index_path%>