<h1>Turno</h1>

<p>
    <strong>ID Usuario: </strong>
    <%= @turno.id_usuario %>
</p>
<p>
    <strong>Cantidad Asientos: </strong>
    <%= @turno.cantidad_asientos %>
</p>
<p>
    <strong>Hora Salida: </strong>
    <%= @turno.hora_salida %>
</p>
<p>
    <strong>Dirección Salida: </strong>
    <%= @turno.direccion_salida %>
</p>
<p>
    <strong>Dirección Llegada: </strong>
    <%= @turno.direccion_llegada %>
</p>
<p>
    <strong>Día Semana: </strong>
    <%= @turno.dia_semana %>
</p>
<p>
    <strong>Tipo: </strong>
    <%= @turno.tipo %>
</p>
<p>
    <strong>Estado: </strong>
    <%= @turno.estado %>
</p>

<br/>
<%= link_to 'Volver ', turnos_index_path%>
<br/>
<% if @turno.id_usuario == current_user.id %>
    <%= link_to 'Editar', turnos_edit_path(:id => @turno.id)%>
    <%= link_to 'Eliminar', turnos_delete_path(:id => @turno.id), method: :delete%>
<% else %>
    <%= link_to 'Solicitar', requests_new_path(:id => @turno.id) %><br/>
    <% if @turno.estado == 'COMPLETADO'%>
        <%= link_to 'Agregar reseña ', resenas_new_path(:id_viaje => @turno.id)%>
    <% end %>
<% end %>
<br/>

<% if @turno.estado == 'COMPLETADO'%>
    <h3>Reseñas Viaje</h3>
    <% @resenas.each do |resena|%>
        <% if resena.turno_id == @turno.id%>
            <li>Nombre Pasajero: <%= resena.user.name%>. Calificación: <%= resena.calificacion%>                  <%= link_to 'Ver detalles', resenas_show_path(:id => resena.id) %></li>
        <% end %>
    <% end %>
<% end %>
