<!DOCTYPE html>
<html>
  <head>
    <title>Grupo48</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="border: 5px outset red; width: 300px; padding: 10px; 
    align-text: center; margin: 5px; background-color: lightblue; text-align: center;">
      <h1>DCCARPOOLING</h1>
    </div>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <b>Opciones</b>
      <li><%= link_to "Cuenta", users_show_path(:id => current_user.id) %></li>
      <li><%= link_to "Turnos", turnos_index_path %></li>
      <li><%= link_to "Solicitudes", requests_index_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% end %>

    <%= yield %>
  </body>
</html>
