<%require 'pexels'

# Or just set the PEXELS_API_KEY env variable and it will be picked up automatically.
client = Pexels::Client.new('563492ad6f917000010000014e7da287474c41f586d037fa8c64d707')%>

<h1 align='center' class = "title is-2 has-text-primary" >Registrarse</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="column is-4 is-offset-4">
    <div align='center'>
    <div class="field">
      <%= f.email_field :email, class: "input is-primary is-rounded is-outlined", placeholder:"Email", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <% end %><br/>
      <%= f.password_field :password, class: "input is-primary is-rounded is-outlined", placeholder:"Contraseña", autocomplete: "new-password" %>
    </div>

    <br/>
    <div class="field">
      <%= f.password_field :password_confirmation, class: "input is-primary is-rounded is-outlined", placeholder:"Repita su contraseña", autocomplete: "new-password" %>
    </div>

    <br/>
    <div class="field">
      <%= f.text_field :name, class: "input is-primary is-rounded is-outlined", placeholder:"Nombre" %>
    </div>

    <br/>
    <div class="field">
      <%= f.text_field :address, class: "input is-primary is-rounded is-outlined", placeholder:"Dirección" %>
    </div>

    <br/>
    <div class="field">
      <%= f.text_field :description, class: "input is-primary is-rounded is-outlined", placeholder:"Cuentanos un poco sobre tí" %>
    </div>

    <% def options_for_status
      [
      ['Género', nil],
      ['Masculino','Masculino'],
      ['Femenino','Femenino'],
      ['No binario','No binario'],
      ['Prefiero no decir','Prefiero no decir']
      ]
    end %>
    <div>
      <%= f.select :gender, options_for_status, {}, prompt: 'Select One' %>
    </div>

    <br/>
    <div class="field">
      <%= f.text_field :phone, class: "input is-primary is-rounded is-outlined", placeholder:"Teléfono" %>
    </div>

    <! –– La idea es que despues se guarde en el usario @foto, para que en cada pagina se agreguen las lineas 72 a la 74 ––>

    <! –– Falta hacer un try cuando la foto no exista y que se vuelva a cargar ––>
    <div>
      <%
      @numero = rand(999999)
      puts "El numero es:", @numero
      @photo = client.photos.find(@numero)
      @link_foto = @photo.src["original"]%>
    </div>

    <br/>
    <div href="https://www.pexels.com">
      <img src=<%=@link_foto%>>
    </div>
    
    <br/>
    <div class="actions">
      <%= f.submit "Registrarse", class: "button is-primary is-inverted is-rounded is-outlined" %>
    </div>
    <% end %>
    <div align='center'>
    <%= render "users/shared/links" %>
    </div>
  </div>
</div>