<div align='center'>
<h1 class="title is-2 has-text-primary">Cuenta</h1>

<h3>Datos Personales</h3>
<p>
    <strong>Id usuario:</strong>
    <%= @user.id %>
</p>
<p>
    <strong>Nombre:</strong>
    <%= @user.name %>
</p>
<p>
    <strong>Email:</strong>
    <%= @user.email %>
</p>
<p>
    <strong>Dirección:</strong>
    <%= @user.address %>
</p>
<p>
    <strong>Género:</strong>
    <%= @user.gender %>
</p>
<p>
    <strong>Teléfono:</strong>
    <%= @user.phone %>
</p>

<h3 class = "title is-4 has-text-dark" >Turnos Publicados Activos</h3>
<div align='center' style="display: flex; flex-flow: wrap; ">
    <% @turnos.each do |turno|%>
        <%if turno.user_id == current_user.id and turno.estado == "ACTIVO"%>
            <div style="border: solid 1px; width: 200px; 
            padding: 10px; align-text: center; margin: 5px; background-color: lightblue">
            <b>Conductor </b><p><%= @users.find(turno.user_id).name%></p>
            <b>Hora salida </b><p><%= turno.hora_salida%></p>
            <b>Día de la semana </b><p><%= turno.dia_semana%></p>
            <b>Dirección salida </b><p><%= turno.direccion_salida%></p>
            <b>Dirección llegada </b><p><%= turno.direccion_llegada%></p>
            <b></b><p><%= link_to 'Ver detalles', turnos_show_path(:id => turno.id) %></p>
        <% end %>
</div>
<% end %>
<br/>

<h3 class = "title is-4 has-text-dark" >Turnos Publicados Confirmados</h3>

<div align='center' style="display: flex; flex-flow: wrap; ">
    <% @turnos.each do |turno|%>
        <%if turno.user_id == current_user.id and turno.estado == "CONFIRMADO"%>
            <div style="border: solid 1px; width: 200px; 
            padding: 10px; align-text: center; margin: 5px; background-color: lightblue">
            <b>Conductor </b><p><%= @users.find(turno.user_id).name%></p>
            <b>Hora salida </b><p><%= turno.hora_salida%></p>
            <b>Día de la semana </b><p><%= turno.dia_semana%></p>
            <b>Dirección salida </b><p><%= turno.direccion_salida%></p>
            <b>Dirección llegada </b><p><%= turno.direccion_llegada%></p>
            <b></b><p><%= link_to 'Ver detalles', turnos_show_path(:id => turno.id) %></p>
        <% end %>
</div>
<% end %>
<br/>

<h3 class = "title is-4 has-text-dark" >Turnos Publicados Completados</h3>
<div align='center' style="display: flex; flex-flow: wrap; ">
    <% @turnos.each do |turno|%>
        <%if turno.user_id == current_user.id and turno.estado == "COMPLETADO"%>
            <div style="border: solid 1px; width: 200px; 
            padding: 10px; align-text: center; margin: 5px; background-color: lightblue">
            <b>Conductor </b><p><%= @users.find(turno.user_id).name%></p>
            <b>Hora salida </b><p><%= turno.hora_salida%></p>
            <b>Día de la semana </b><p><%= turno.dia_semana%></p>
            <b>Dirección salida </b><p><%= turno.direccion_salida%></p>
            <b>Dirección llegada </b><p><%= turno.direccion_llegada%></p>
            <b></b><p><%= link_to 'Ver detalles', turnos_show_path(:id => turno.id) %></p>
        <% end %>
</div>
<% end %>
<br/>
